node_modules/
.expo/
dist/
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/

# macOS
.DS_Store

/.idea
/bundletool.jar
/dda9887d-b482-464f-a544-15d9611ff152-f395be86e57245fd96627fe1d8a9bc93.aab
/lwwy.apks
